$row-height: 35px;

.datagrid__header {
  background-color: $gray-5;
  border-bottom: 1px solid $gray-4;
  height: $row-height;
  line-height: $row-height;
}

.datagrid__row {
  border-bottom: 1px solid $gray-4;
  height: $row-height;
  line-height: $row-height;

  &.clickable:hover {
    background-color: $gray-6;
  }
}
