$blue-1: #063c4a;
$blue-2: #006680;
$blue-3: #00a6cf;
$blue-4: #3ac1e1;
$blue-5: #72cee4;

$teal-1: #0dceaf;
$teal-2: #78dece;

$red-1: #e7465a;
$red-2: #dc848f;

$yellow-1: #fdb813;
$yellow-2: #f7cd68;

$gray-1: #333;
$gray-2: #666;
$gray-3: #828282;
$gray-4: #d2d2d2;
$gray-5: #efeeec;
$gray-6: #fafafa;

$white: #fff;
$yellow-green: #b0eb00;
$light-purple-grey: #aaaad0;
$dark-purple: #606;

$dark-red: #c61851;
$light-red: #e38eaa;


$component-height: 16px;
$component-padding: 10px;
